/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 5, 2017, 1:26:19 PM
    Author     : nkalu
*/

@media screen {
  #printSection {
      display: none;
  }
}

@media print {
  body * {
	font-size: 20pt;
   visibility:hidden;
	display:block; 
	background-color:#000000;
	font-size: 28px;
  }
  .wrap * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility:visible;
	font-size:30px;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
    padding:2mm;
    margin: 0 auto;
    width: 44mm;
    background: #FFF
  }
    @page { size : portrait } 
    @page rotated { size : landscape } 
    table { page : rotated } 
}
