html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}
.container{
    width: 100%;
}
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
.homebanner{
    position: relative;
    z-index: 1;
    width:100%;
    margin-top: 50px;
    height:500px;
}
.homebanner .bgimage{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../images/home.jpg');
    opacity: 0.4;
    width: 100%;
    height: 100%;
}
.searchpanel{
    width:63%;
    margin-left: auto;
    margin-right: auto;
}
.homebannerform{
    width:100%;
    margin-top: 250px;
    color:#B5121B;
}
.body-content{
    width:75%;
    display: inline-block;
    vertical-align: top;
}
.sidebar-content{
    width:20%;
    display: inline-block;
    vertical-align: top;
}


.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.btn-create{
    float:right;
    margin-bottom: 5px;
}
.custompanel{
    margin:2px; 
    margin-left:3px;
    padding:0px;
    width: 270px;
    display: inline-block;
}
.custompanelheading{
    
}
.custompanelbody{
    padding:0px;
}
.panel-image{
    width: 95%;
    margin: auto;  
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-margin {
margin-right: 10px;
}
.list-view{
    display: block;
    clear: both;
}
.success{
    color: #227447;
}
#modal_body_div{
   /* width: 600px;*/
	width: 560px;
}
.btn-property-feature-image{
    margin-top:-6px;
}

.img-custompanel{
    margin:3px; 
    width: 170px;
    padding:0px;
}
.btn-property-view-url{
    margin: 5px;
    margin-top:-20px;
}

.img-property-icon{
    height: 180px;
    width: 100%;
}
.property-search-form-field{
    display:inline-block;
    width: 24%;
    min-width: 200px;
    vertical-align: top;
}
.field-property-property_type, field-property-search_sub_location, field-property-search_price_range > .col-sm-6{
    width:80% !important;
    margin-left: 20%;
}
.col-sm-6{
    width:100% !important;
}
#select2_search_price_range{
    margin-top: -5px;
}
.btn-lg,
.btn-group-lg > .btn {
 /* padding: 10px 16px;*/
 padding: 50px !important;
 margin:20px !important;
 width:300px !important;
  font-size: 18px !important;
  line-height: 1.3333333 !important;
border-radius: 6px !important;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555 !important;
  cursor: default !important;
 /* background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;*/
}
.nav-tabs > li > a {
    margin-right: 60px !important;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
#calculate-tenant-dues{
    margin-right: 20px;
}
.loading-content {
    background-image: url('../images/radio.gif');
    background-position:center;
    background-repeat: no-repeat;
    z-index: 15000;
    cursor: wait;
    opacity: 0.6;
}
@media screen {
  #printSection {
      display: none;

  }
  
}

@media print {
  body * {
  /*  visibility:hidden;
    font-size:60pt !important;  */
	
  }
.no-print{
	   visibility:hidden !important;
  }
  .print-modal{
	/*  visibility:hidden !important;  */
  }


  #printSection, #printSection * {
    visibility:visible;
		
  }
  
  #printSection {
    position:absolute;
    left:0;
    top:0;
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
    padding:2mm;
    margin: 0 auto;
    width: 600mm;
	height:298mm;
    background: #FFF !important;
	font-family:arial !important;
	font-size:60pt !important;
	
  }
}


table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color: black;
    color: white;
}
.btn-register{
    margin-right: 5px;
}